<div class="row">
    <div class="col-md-10">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" value="" placeholder="Regular" class="form-control " />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control " placeholder="With Border" value="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="Success" class="form-control " />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="email" placeholder="Error Input" class="form-control " />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control " placeholder="Awesome Icon">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control " placeholder="Nucleo Icon">
            </div>
        </div>
    </div>

</div>