<kendo-grid [data]="gridData"  [height]="600" [height]="530"  [sort]="sort">
  <kendo-grid-column field="ProductID" title="Product ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price">
  </kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="In stock">
  </kendo-grid-column>
  <kendo-grid-column field="Discontinued" title="Discontinued">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
